# My gitignore

# Environment & keys
.env
.env.*
keys/
*.key
*.pem

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Airflow
logs/
airflow_home/
airflow/.pytest_cache/
airflow/unittests.cfg
airflow/tmp/
airflow/postgres-data/

# dbt
dbt_packages/
dbt_modules/
target/
.dbt/
logs/

# Docker
*.log
*.pid
*.tar
*.db
*.sock
.docker/
**/.dockerignore

# OS / Editor
.DS_Store
.vscode/
.idea/
Thumbs.db

