# his requirements.txt
# pandas
# pandas-market-calendars
# requests
# pyarrow
# pyspark
# dbt-core==1.10.11
# dbt-bigquery==1.10.2

# mine
requests
pandas
pendulum
python-dotenv
snowflake-connector-python[pandas]>=3.10,<5
snowflake-sqlalchemy
pyarrow
pandas-market-calendars